body {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  background-color: #a8bab9;
  background-image: url(prau3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center; /* tengah horizontal */
  align-items: center;     /* tengah vertikal */
}


.container {
  width: 350px;
  margin: 80px auto;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid;
  padding: 20px 40px;
  border-radius: 10px;
}
 

h1 {
  text-align: center;
  color: #000001;
}

h3 {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  color: #e8e8f8
}

input, select {
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  
}
select {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background-color: #061318;
  color: rgb(225, 232, 236);
  border: none;
  cursor: pointer;
}
.ig-center {
  display: flex;
  justify-content: center;
  align-items: center;     
  height: 100vh;
}

.ig-link {
  display: flex;
  align-items: center;
  gap: 3px;               
  text-decoration: none;
  color: rgb(249, 249, 249);
  font-size: 15px;
}

.ig-logo {
  width: 30px;
  height: 30px;
  
}




